			a{
				text-decoration: none;
			}
			a:link{
				color: red;
			}
			a:visited{
				color: yellow;
			}
			a:hover{
				color: #333;
				font-size: 18px;;
			}
			a:active{
				color: darkgray;
			}
			.news>li:first-child{
				color: red;
			}
			.news>li:nth-child(2){
				color: yellow;
			}